*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary: #198754;
    --grey-black: #111111;
    --white: #fff;
    --orange: #ff6200;
}
/* Footer */

.footer{
    background-color: var(--grey-black);
    color: var(--white);
}
.footer h3 a{
    text-decoration: none;
    color: var(--white);
}
.footer li{
    list-style: none;
}
.footer li a{
    text-decoration: none;
    color: var(--white);
}
/* footer bottom */
.footer-bottom{
    background-color: #000;
    color: var(--white);
}
.copyright{
    
}